<div class="container-fluid container py-3 mt-4">
  <h2 class="">Fluffy friends</h2>
  <div class="petcard">
    <% @pets.each do |pet| %>
      <div class="mt-4">
          <div class="card mb-3">
            <%= link_to pet_path(pet), class: "card-img-top" do %>
            <%= cl_image_tag pet.photos[0].key %>
            <% end %>
          <div class="card-body">
            <h5><%= pet.name %></h5>
            <h5><%= pet.category %></h5>
            <h5><%= pet.age %></h5>
          </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
