<div class="container-fluid container py-3 mt-4">

  <h2 class="title">Pet List</h2>
  <p>Choose any of the pets below or add your pet to the list.</p>
  <div class="pet-card">
    <% @pets.each do |pet| %>
      <div class="mt-4">
          <div class="card mb-3" data-category="<%= pet.category %>">
            <%= link_to pet_path(pet), class: "card-img-top" do %>
            <%= cl_image_tag pet.photos[0].key %>
            <% end %>
          <div class="card-body">
            <p><strong>Name:</strong> "<%= pet.name %>"</p>
            <p><strong>Category:</strong> <%= pet.category.capitalize %></p>
            <p><strong>Age:</strong> <%= pet.age %> y.o.</p>
            <p><strong>Description:</strong> <%= pet.name %>  is a really clever, adventurous and happy <%= pet.category %>! He frequently travels with me and does amazing in new places...</p>
          </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
