<div class="container">
  <h1>Add a pet</h1>
  <div class="new-pet">
    <%= simple_form_for [@pet] do |f| %>
      <%= f.input :name %>
      <%= f.input :category, collection: ["Dog", "Cat", "Hamster", "Rabbit", "Bird", "Other"] %>
      <%= f.input :breed %>
      <%= f.input :age %>
      <%= f.input :location %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Add", class: "btn btn-primary text-white add-btn" %>
    <% end %>
  </div>
</div>
