<div class="container">
  <div class="show-container">
    <div class="banner-pet" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
      <div class="container">
        <h1>I'm <%= @pet.name %></h1>
        <%= link_to "Play with me!", new_pet_booking_path(@pet), class: "btn btn-flat" %>
      </div>
    </div>
    <div class="cards">
      <div class="card-pet-info">
        <h2 class="leader" >
        Name: <%= @pet.name %>
        </h2>
        <h2 >
          Age: <%= @pet.age %> years old
        </h2>
        <h2 >
          Breed: <%= @pet.breed.capitalize %>
        </h2>
        <h2>
          Price: Â£20.00 per hour
        </h2>
        <h2 >
          Come pick me up from <%= @pet.location %> !
        </h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <h2 class="leader">
          <%= link_to "My reviews â­", "", class: "btn btn-primary text-white rounded-lg" %>
        </h2>
      </div>
      <div class="card-about-info">
        <h1 class="leader">
          About me
        </h1>
        <h2>
          I am a cheeky little whippersnapper that likes long walks on the beach and a lot of attention! I am the fluffy child of <span> <%= @pet.user.first_name %>. </span>
          <br>
          <%= link_to "Message ðŸ’¬", "", class: "btn btn-primary text-white rounded-lg" %>
        </h2>
      </div>
    </div>
  </div>
</div>
<br>


<div class="container">
  <h2>
  <%= @pet.name %> 's address:
  </h2>
  <div style="width: 100%; height: 500px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
