<div class="show-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @pet.photos[0].key %>');">
    <div class="container">
      <h1><%= @pet.name %></h1>
      <p>Â£20.00 per hour</p>
      <%# <a class="btn btn-flat" href="#">Rent me</a> %>
      <%= link_to "Rent me", new_pet_booking_path(@pet), class: "btn btn-flat" %>
    </div>
  </div>
  <div class="cards">
    <div class="card-pet-info">
      <h1 class="leader" >
       <%= @pet.name %>
      </h1>
      <h2 >
        <%= @pet.age %> years old
      </h2>
      <h2 >
        <%= @pet.breed.capitalize %>
      </h2>
      <h2 >
        Come pick me up from <%= @pet.location %> !
      </h2>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <h2 class="leader">
        <%= link_to "My reviews â­", "", class: "fs-5 fw-bold btn btn-primary rounded-pill" %>
      </h2>
    </div>
    <div class="card-owner-info">
      <h1 class="leader">
        I am the fluffy child of
      </h1>
      <h2>
        <%= @pet.user.first_name %> <%= @pet.user.last_name %>
      </h2>
      <%= link_to "Message ðŸ’¬", "", class: "fs-5 fw-bold btn btn-primary rounded-pill" %>
    </div>
    <div class="card-about-info">
      <h1 class="leader">
        About me
      </h1>
      <h2>
        I am a cheeky little whippersnapper that likes long walks on the beach and alot of attention
      </h2>
    </div>

  <div>
  </div>

  </div>
</div>
