 <div class="container">
  <div class="show-container">
    <div class="banner-pet" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= cl_image_path @pet.photos[0].key %>')">
      <div class="text-center">
        <h1>I'm <%= @pet.name %></h1>
        <%= link_to "Play with me!", new_pet_booking_path(@pet), class: "btn btn-flat-play" %>
      </div>
    </div>
    <div class="cards">
      <div class="card-pet-info">
        <h2 class="leader" >
          <strong>Name:</strong> <%= @pet.name %>
        </h2>
        <h2 >
          <strong>Age:</strong> <%= @pet.age %> years old
        </h2>
        <h2 >
          <strong>Breed:</strong> <%= @pet.breed.capitalize %>
        </h2>
        <h2>
          <strong>Price:</strong> £20.00 per hour
        </h2>
        <h2 >
          <strong>Address:</strong> Pick me up from <%= @pet.location %>
        </h2>
      <p>
        <% total = 0 %>
        <% if @pet.reviews.length > 0  %>
        <% @pet.reviews.each do |review| %>
          <% total += review.rating.to_f %>
        <% end %>
      </p>
        <p>
          <strong>Description:</strong> I am a cheeky little whippersnapper that likes long walks on the beach and a lot of attention! I am the fluffy child of <span> <%= @pet.user.first_name %>. </span>
        </p>
      <span><%= (total.to_f / @pet.reviews.length).round(1) %></span>
        <% (total.to_f / @pet.reviews.length).round(0).times do |star| %>
        <span class="fa fa-star checked"> </span>
        <% end %>
        <div class="leader">
          <%= link_to "Leave a review", new_pet_review_path(@pet), class: "btn btn-primary text-white rounded-lg" %>
          </div>
        <% else  %>
        <%= link_to "Leave a review", new_pet_review_path(@pet), class: "btn btn-primary text-white rounded-lg" %>
        <% end %>
      </div>

      </div>
    </div>

    <div class="map-review-container">

      <div class="address">
        <h2> <%= @pet.name %> 's address: </h2>
        <div style="width: 800px; height: 500px;"
          data-controller="map"
          data-map-markers-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <div class="content-box text-center">
        <h2>Reviews:</h2>
        <% @pet.reviews.each do |review| %>
          <p class ="review-card">
            "<%= review.comment.capitalize %>"
            <br>
            <% review.rating.times do |star| %>
              <span class="fa fa-star checked"> </span>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
</div>
