<div class="show-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <div class="container">
      <h1><%= @pet.name %></h1>
      <p>£20.00ph</p>
      <a class="btn btn-flat" href="#">Rent me</a>
    </div>
  </div>
  <div class="cards">
    <div class="card-pet-info">
      <h1 >
        <%= @pet.name %>
      </h1>
      <h2 >
        <%= @pet.age %>
      </h2>
      <h2 >
        <%= @pet.breed %>
      </h2>
      <h2 >
        <%= @pet.location %>
        </h2>
      <h2>
        <%= @pet.category %>
        </h2>
    </div>
  <div>
  </div class="owner-info">

  </div>
</div>
