<div class="show-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1517849845537-4d257902454a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <div class="container">
      <h1><%= @pet.name %></h1>
      <p>£20.00ph</p>
      <a class="btn btn-flat" href="#">Rent me</a>
    </div>
  </div>
  <div class="cards">
    <div class="card-pet-info">
      <h1 class="leader" >
       <%= @pet.name %>
      </h1>
      <h2 >
        <%= @pet.age %> years old
      </h2>
      <h2 >
        <%= @pet.breed.capitalize %>
      </h2>
      <h2 >
        Come pick me up from <%= @pet.location %> !
      </h2>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <h2 class="leader">
        My Reviews
      </h2>
    </div>
    <div class="card-pet-info">
      <h1 >
        I am the fluffy child of
      </h1>
      <h2 class="leader">
        <%= @pet.user.first_name %> <%= @pet.user.last_name %>
      </h2>
    </div>
  <div>
  </div class="owner-info">

  </div>
</div>
